# RAGFlow Configuration Template
ragflow:
  host: "0.0.0.0"
  port: 9380

doc_store:
  type: "elasticsearch"

redis:
  uri: "redis://localhost:6380/0"
  
mysql:
  name: "devrag"
  user: "root"
  password: "ragflow_password"
  host: "127.0.0.1"
  port: 3306

minio:
  endpoint: "localhost:9000"
  access_key: "minioadmin"
  secret_key: "minioadmin"
